<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="alert alert-success mt-5">
            <h4 class="alert-heading">Payment Successful!</h4>
            <p>Thank you for your payment.</p>
            <hr>
            <p class="mb-0"><a href="/payment" class="btn btn-primary">Make another payment</a></p>
        </div>
    </div>
</body>
</html>